
  <!-- ======= Header ======= -->
  
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">Evision112</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Other Services</a></li>
          <li><a class="nav-link scrollto " href="#Gallery">Gallery</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>Easy start with Evision112</h1>
      <h2>We are team making websites with Angular16</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="#aabout">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>We will create a complete web application.</h2>
            <h3>We will use the Angular Javascript Framework version 16.2.4</h3>
          
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Any project has two parts
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> The Front End part</li>
              <p>This part represents the graphic part of the application, the one that the user sees in their browser</p>
              <li><i class="ri-check-double-line"></i> The Back End part</li>
              <p>This part allows to manage the data.</p>
              <p>These two parts will allow us to put together a complete project.</p>
            </ul>
           
          </div>
        
          </div>

      
    

    <!-- ======= Services Section ======= -->
    <section id="services" class="other services">
      <div class="container">

        <div class="section-title">
          <h2>Other Services</h2>
          <p>Includ Product photography, digital marketing, branding and shipping</p>
   
          <div class="row">
        
        <app-feature class="col-lg-4 col-md-6 icon-box"></app-feature>
        <app-ysf class="col-lg-4 col-md-6 icon-box"></app-ysf>
        <app-branding class="col-lg-4 col-md-6 icon-box"></app-branding>
        <app-shipping class="col-lg-4 col-md-6 icon-box"></app-shipping>
          </div>

      </div>
      
      </div>
    </section>
    

    <!-- ======= Testimonials Section ======= -->
  


    <!-- ======= Portfolio Section ======= -->
    <section id="Gallery" class="#Gallery">
      <div class="container">
        <div class="section-title">
        <h2>Gallery</h2>
        <div class="row">
         
       
         
         
       
     
      
           
            
          </div>
        </div>
       

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/team/A32A8616.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Fashionable</h4>
              
              <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="assets/img/team/HDY00088-819x1024.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Sportswear</h4>
          
              <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/team/HDY00225-Edit-819x1024.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Classy outfits</h4>
          
              <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="assets/img/team/HDY01147-819x1024.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Edgy look</h4>
              
              <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="assets/img/team/HDY01355-819x1024.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Fresh</h4>
              
              <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/team/Screen-Shot-2023-06-01-at-1.05.13-PM-821x1024.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Modish</h4>
              
              <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
        </div>

      </section>
 <!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->


  

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title">
          <h2>Web Development</h2>
          <p>Your website is one of the most crucial components of your brand’s online presence and it must be properly designed. Your website should be developed with keeping your target audience in mind and it should give a decent user experience. There are numerous other advantages to having a professional website design for both your business and your audience.

            By combining your ideas and needs with our technical skills we create the best website to help you best present your products and contents. Moreover, we provide you with all the needed technical support to help you best benefit from your website.
            
            
            Our website development service includes E-commerce websites, portfolio websites, personal websites, business websites add to website management service.</p>
        </div>
      </div>
        
      </section>
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="#contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>
      </div>
    
      <div class="container">
        <div class="row mt-5 justify-content-center">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>Jbeil-Byblos</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@evision112.com</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+961 70 080 112</p>
                </div>
              </div>
            </div>

          </div>

        </div>
      
        <div class="row mt-5 justify-content-center">
          <div class="col-lg-10">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>Evision112</h3>
          
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>

        <div class="social-links">
          
          <a href="https://www.facebook.com/evision112" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/evision112" class="instagram"><i class="bx bxl-instagram"></i></a>
        </div>

      </div>
    </div>

    
  </footer><!-- End Footer -->
