<div>
    <div class="icon"><i class="bi bi-briefcase"></i></div>
    <h4 class="title"><a href="">branding</a></h4>
    <p class="description">In a market full of competitors give your customers a reason to choose your products by making your brand unique. We create and shape your brand in customers’ minds to attract them.

        Thus, placing your brand on the top list providing consumers with a decision-making shortcut when feeling indecisive about the same product from different companies. Plus, we could provide you with business consultancy from people that have deep knowledge and experiences in the e-market to help you best choose an identity for your new business.
        
        Our branding service includes everything related to design such us: Logo, packaging, price tags,
        business cards, gift cards, roll up banners….
    </p>
  </div>
